In [1]:
import pandas as pd
df = pd.read_csv("./metadata.csv")
df.tail()

,id,year,make,model,trim1,trim2
6567,ffdf67d8d44b,2014.0,Mercedes-Benz,CLA,CLA,CLA250 w/ Sport Pkg
6568,ffe45737b4af,2014.0,Mercedes-Benz,E-Class,E-Class,E350 Sport
6569,fff013bbf988,2014.0,Toyota,Tundra,Tundra,Platinum W/ Towing Pkg
6570,fff341f26a19,2013.0,Nissan,Altima,Altima,3.5 SL
6571,fff9b3a5373f,2011.0,Land Rover,Range Rover,Range Rover,Supercharged w/Autobiography Pkg

In [2]:
df.nunique()

id       6572
year       12
make       36
model     398
trim1     400
trim2     770
dtype: int64

In [3]:
df.groupby('make').make.count()

make
Acura            123
Audi              97
BMW              188
Buick            185
Cadillac         157
Chevrolet        570
Chrysler         147
Dodge            202
FIAT              74
Ford             577
GMC              174
Honda            572
Hyundai          393
INFINITI          79
Infiniti          80
Jaguar            19
Jeep             202
Kia              392
Land Rover        23
Lexus            194
Lincoln           46
MINI              69
Maserati           1
Mazda            191
Mercedes-Benz    188
Mercury            3
Mitsubishi        54
Nissan           497
Porsche            1
Ram               27
Scion             51
Smart             59
Subaru            43
Toyota           647
Volkswagen       203
Volvo             33
Name: make, dtype: int64

In [4]:
#日本で流通している車種のみに選別する
all_car = list(df.groupby('make').make.count().index)
print(all_car)
column = ['Audi', 'BMW','Honda','Jeep','Lexus','MINI','Mazda','Mercedes-Benz','Mitsubishi','Nissan','Subaru','Toyota','Volkswagen','Volvo']
print(column)

['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'FIAT', 'Ford', 'GMC', 'Honda', 'Hyundai', 'INFINITI', 'Infiniti', 'Jaguar', 'Jeep', 'Kia', 'Land Rover', 'Lexus', 'Lincoln', 'MINI', 'Maserati', 'Mazda', 'Mercedes-Benz', 'Mercury', 'Mitsubishi', 'Nissan', 'Porsche', 'Ram', 'Scion', 'Smart', 'Subaru', 'Toyota', 'Volkswagen', 'Volvo']
['Audi', 'BMW', 'Honda', 'Jeep', 'Lexus', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Subaru', 'Toyota', 'Volkswagen', 'Volvo']

In [5]:
# f_replace = lambda x: x.replace(' ', '-')
a = df["model"].replace(' ', '-')
for i,tmp in enumerate(df["model"]):
    df.loc[i,["model"]] = str(tmp.lower()).replace(' ', '-')

AttributeError: 'float' object has no attribute 'lower'

In [ ]:
df["make_model"] = df["make"]+"-"+df["model"]

In [ ]:
df.groupby("make_model").make_model.count()

In [ ]:
# BM = df["make"] == "BMW"
true_true_love = pd.DataFrame(columns=df.columns)
print(true_true_love)
i=0
for a in column:
    true_love = df[df["make"] == a]
#     print(true_love)
    true_true_love = pd.concat([true_true_love,true_love])
    
true_true_love.reset_index(inplace=True,drop=True)
print(true_true_love)
true_true_love.to_csv('selected_metadata.csv')